.cart_left {
  width: 90px;
  height: 100%;
  float: left;
  position: relative;
}
.cart_left li {
  width: 90px;
  height: 50px;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  text-align: center;
  line-height: 50px;
  background-color: pink;
}
.cart_left li.active {
  background-color: #fff;
  border-right: none;
}
.cart_left li a {
  display: block;
}
.cart_right {
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.cart_right li {
  float: left;
  width: 33.3%;
}
.cart_right li a {
  display: block;
}
.cart_right li a img {
  width: 62px;
  height: 62px;
  margin: 0 auto;
}
.cart_right li a p {
  text-align: center;
}
