.lt_nav {
  padding: 10px;
}
.lt_nav li {
  float: left;
  width: 33.3%;
}
.lt_nav li a {
  display: block;
}
/* 产品 */
.lt_product {
  padding: 0 10px 10px 10px;
}
.lt_product .item {
  display: block;
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
.lt_product .item.item:nth-child(odd) {
  margin-right: 4%;
}
.lt_product .item .price {
  color: red;
}
.lt_product .item .oldprice {
  text-decoration: line-through;
}
